@charset "UTF-8";

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    color: white;
    text-align: center;
  

}

p {
    margin: 2px;
    padding: 9px;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: blue;
}

.content {
    height: 600px;
    width: 1122px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 195px;
    height: 50px;
    background-color: #4c4463b4;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;

}

.bar:hover {
    background-color: rgba(255, 255, 255, 0.712);
    
    color: black;
}

input {
    display: none;
} 

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: 0.6s;     
}

.slide img {
    width:100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide4:checked ~ .s1 {
    margin-left: -80%;
}


#slide5:checked ~ .s1 {
    margin-right: -120%;
}












